:root {
  --jellix-movie-info-font-size: 1rem;
  --jellix-movie-info-tv-font-size: 1.5rem;
  --jellix-settings-font-size: 1rem;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/materials.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  font-family: 'Noto Sans', Arial, sans-serif;
  background: rgb(0,0,0);
}

.errors {
  background-color: black;
  z-index: 9999;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 20%;
  color: red;
  font-size: 30px;
  position: absolute;
}

body.login-body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-container {
  position: relative;
  margin-left: -4vw;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dadada;
  font-size: 1rem;
  margin-top: -10vh;
}

#login-form input {
  color: white;
  background: none;
  border: 0;
  border-bottom: 1px solid white;
  font-size: 1rem;
  text-align: center;
}

#login-form-buttons {
  text-align: right;
}

#login-form button {
  margin-top: 4vh;
  border: 1px solid #dadada;
  background: none;
  padding: 1vh 0.8vw;
  border-radius: 0.51rem;
  color: #dadada;
  cursor: pointer;
  font-size: 1.3rem;
}

#login-form button:hover {
  background-color: #dadada;
  color: black;
}

#login-form #error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  z-index: 2000;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none; /* Allows clicks through the loading screen */
}

.loading-screen > div {
  position: relative;
  margin-left: -4vw;
}

.jelli {
  color: white;
  font-size: 25vh;
  position: relative;
  display: inline-block;
}

.x {
  position: absolute;
  top: 11vh;
  right: -6vh;
}

.x::before,
.x::after {
  content: '';
  position: absolute;
  width: 4vh;
  height: 19vh;
  background-color: #ff0000;
}

.x::before {
  transform: rotate(45deg);
}

.x::after {
  background-color: #d30000e0;
  transform: rotate(-45deg);
}

.feature {
  position: relative;
  color: #fff;
}

.movie-details {
  position: relative;
  z-index: 1;
}

.additional-info {
  color: white;
  margin-bottom: 10px;
  margin-left: -7px;
}

.feature-content {
  position: absolute;
  width: 100%;
  left: 2vw;
  top: 4vh;
}

.feature-movie-logo {
  max-width: 35vw;
  max-height: 17vh;
  width: auto;
  margin-bottom: 2vh;
}

.movie-info {
  align-items: center;
  font-size: var(--jellix-movie-info-font-size);
  margin-bottom: 2vh;
  width: 40vw;
  padding: 1vh;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.19931722689075626) 88%, rgba(0,0,0,0) 100%);
}

.movie-overview {
  color: white;
}

.movie-title {
  font-size: 4vw;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 2vh
}

.community-rating, .critic-rating {
  background-color: #ffd700;
  color: #000;
  padding: 2px 6px;
  border-radius: 3px;
  margin-left: 5px;
}

.critic-rating {
  background-color: #ff6347;
  color: #fff;
}

.additional-info .info {
  margin-right: 8px;
  padding: 2px 7px;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0) 100%);
  border-radius: 17px;
}

.play-button {
  position: relative;
  font-size: 26px;
  text-decoration: none;
  color: black;
  background: rgb(255, 255, 255, 0.95);
  border-radius: 12px;
  padding: 3px 19px 3px 45px;
}

.play-button span {
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-left: 16px solid #000;
  border-bottom: 11px solid transparent;
  position: absolute;
  top: 23%;
  left: 18%;
}

.lists-container {
  padding-top: 1vh;
  position: absolute;
  bottom: 0;
  z-index: 50;
  margin-bottom: -15%;
  overflow: visible;
}

.lists-container .container {
  overflow: hidden;
}

.thumbnails-group {
  margin-bottom: 1vh;
  transition: margin-top 0.1s linear;
}

.thumbnails-title {
  font-size: 1.7rem;
  padding-left: 1vw;
}

.swiper {
  width: 100vw;
}

.swiper-wrapper {
  margin-top: 1vh;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.2vw;
}

.swiper-slide .movie-thumbnail {
  border-radius: 10px;
  width: 10.5vw;
  height: 16vw;
  padding: 7px;
}

.swiper-slide .movie-thumbnail > div {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.thumbnails .swiper-slide {
  width: 10.5vw;
}

.thumbnails .swiper-slide .movie-selected {
  border: 3px solid #ffffffde;
  padding: 4px;
}

.header {
  position: fixed;
  top: 2vh;
  right: 1vw;
  display: flex;
  z-index: 100;
}

.header button, .filter-indicators {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  padding: 10px;
  border-radius: 50%;
  background-color: #333333b3;
  color: #f8f8f8;
  cursor: pointer;
  border: none;
  margin-left: 1vh;
}

.header .filter-indicators {
  cursor: auto;
  line-height: 1;
  background-color: #54000091;
  border-radius: 10px;
  padding: 0 10px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  height: 30px;
  margin: auto 0;
}

.filter-indicators span {
  margin: 0 7px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settings {
  box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 13%);
  background-color: #212a34;
  padding: 20px;
  border-radius: 5px;
  color: #dadada;
  font-size: var(--jellix-settings-font-size);
}

.settings h3 {
  font-weight: 100;
  color: white;
  padding-bottom: 1vh;
  border-bottom: 1px solid #767171;
  margin-top: 0;
}

.settings input {
  color: white;
  background: none;
  border: 0;
  border-bottom: 1px solid white;
  font-size: var(--jellix-settings-font-size);
  text-align: center;
}

.settings-buttons {
  text-align: right;
}

.settings button {
  border: 1px solid #dadada;
  background: none;
  padding: 1vh 0.8vw;
  border-radius: 0.51rem;
  color: #dadada;
  cursor: pointer;
}

.settings button:hover {
  background-color: #dadada;
  color: black;
}

.show {
  display: flex;
}

.background-container {
  position: absolute;
  width: 70%;
  height: 70%;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.2s ease-in-out;
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4206057422969187) 15%, rgba(0,0,0,0) 28%);
}

.background-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4206057422969187) 15%, rgba(0,0,0,0) 28%);
}

#nav-buttons {
  display: none;
  position: absolute;
  top: -60px;
  right: 4vh;
  width: 100px;
  height: 100px;
}

#nav-buttons div {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

#nav-up {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#nav-down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#nav-left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#nav-right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#nav-up::before,
#nav-down::before,
#nav-left::before,
#nav-right::before {
  content: '';
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

#nav-up::before {
  transform: rotate(-135deg);
}

#nav-down::before {
  transform: rotate(45deg);
}

#nav-left::before {
  transform: rotate(135deg);
}

#nav-right::before {
  transform: rotate(-45deg);
}

@media screen and (width: 1920px) {
  body .movie-info {
    font-size: var(--jellix-movie-info-tv-font-size); /* Adjust the font size for tv */
  }
}
